<div id="heading">
<div class="container">
<h1>Welcome to Politimatch San Francisco!</h1>
<p>Find the politicians that share your views regardless of party lines.</p>
<p>
</div>
</div>
<div id="about">
<p><em><h1>How it works</em></h1><p>
<ul>
<h3>
<li>We will display 30 bills that have been discussed in California in the last 3 years. </li>
<li>Each bill will display 4 options (<em>positive</em>, <em>negative</em>, <em>absence</em> and <em>absent</em>).</li>
<li>You have to choose one option for each bill displayed. </li>
<li>After you are done voting all of the bills, we will show you a table with the names of the representatives that have voted in coincidence or dissidence with your votes.</li>
</h3>
</ul>
</div>
<p class="center"><a id="start" class="action" href="javascript:void(0);">START NOW</a></p>
</div>

<div id="voting">
<p id="project">Bill</p>
<h3>Ordinance making marijuana offenses the police department's lowest priority.</h3>
<p id="summary">Summary</p> <p id="date" class="shady">October 2, 2010</p>
<h3>The ordinance also creates an oversight committee through which people who feel they were wrongly targeted can seek a review of their cases. </h3>
<p><a id="link" href="javascript:void(0);">Complete Bill</a></p>
</a> 
<p id="question">Would you vote YES or NO on this project?</p>
<ul>
<li><a id="vote-aye" href="javascript:void(0);">YES</a></li>
<li><a id="vote-nay" href="javascript:void(0);">NO</a></li>
<li><a id="vote-abstention" href="javascript:void(0);">ABSTAIN</a></li>
<li><a id="vote-absentee" href="javascript:void(0);">ABSENT</a></li>
</ul>
<p id="progress-status" class="shady">Completed: 0 / 30</p>
<p id="progress-bar"><span></span></p>
</div>
<div id="results">
<p>Below you will find a list of representatives who voted like you.</p>
<table>
<thead>
</div>
<tr>
<td id="name">Representative</td>
<td class="center" id="agreement">Coincidence</td>
<td class="center" id="disagreement">Dissidence</td>
</tr>
</thead>
<tbody id="rows">
</tbody>
</table>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42712446-1', 'elegilegi.org');
  ga('send', 'pageview');

</script>
