// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
	font-family: "Liberation Sans";
	font-weight: 300;
	font-style: bold;
	src: url('media/LiberationSans-Regular.ttf') format('truetype');
}
body {
	
	width: 100%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Liberation Sans", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 650;
	margin-top: 30px;


}
h1, h2, h3, h4, h5, h6 {
	font-family: inherit;
	font-weight: 200;
    margin: 10;
    line-height: 20px


}
#heading {
	position: fixed;
	top: 0;
	left: 0;
	background: #A9A9A9;
	color: black;
	width: 100%;
	text-align: center;
	padding: 20px;
}
#heading .container {
	width: 100%;
}

#heading h1 {
	display: inline;
	margin: 0 10px;
	

}
#intro .container p {
	color: black	;
	font-size: 50px ;
	width: 100%;
	margin: 0 40px;

}
#main .container {

	width: 100%;
	margin: 0 auto;
	padding-top: 10px;
	padding:10px;


}

#main .container img {

    display: block;
    margin: 20px auto;
    width: 60%;


}

#main .container h1.blue {
    
    color: blue;
    font-size: 80px;
    margin: 30px auto;
    font-weight: bold;
    display: block;
    width: 100%;
	text-align: center;


}
#main .container h2.tagline {
    
    color: black;
    font-size: 30px;
    margin: 70px auto;
    display: block;
    width: 100%;
	text-align: center;



}
#main .container h1.red {

	color: red;
	font-size: 80px;
    margin: 0px auto ;
    font-weight: bold;
    display: block;
    width: 100%;
	text-align: center;
  


}
#intro, {
	background-color: white;
	padding: 180px;
	background-color: #C8C8C8 


}
#header .container{

	width: 100%;
	margin: 0 auto;
	display: inline;


}

#header .container h1{
    
    color: black;
	font-size: 70px;
	margin: 20px;
	float: center;
	text-indent: 0;
	padding-top: 50px;
	text-align: center;

    

}

#header .container  h2{

    color: black;
    font-size: 23px;
    width: 80%;
	margin: 70px auto;
	display: inline-block;
	position:relative;
	line-height: 30px;
	background-position: inherit

}

#header .container  img{

    display: inline-block;
    margin: 40px auto;
    width: 100%;

}

#voting ul {
	list-style: none;
	display: block;
	width: 256px;
	padding: 10;
	margin: 0 auto;
	text-align: center;
}
#voting ul li {
	display: inline-block;
	margin: 0;
	padding: 0;
}
#voting p {
	text-align: center;
}
#project {
	font-size: 30pt;
	font-style: normal;
}
#summary {
	font-size: 30pt;
}
#question {
	font-size: 22pt;
}
.shady {
	font-size: 15pt;
	color: gray;
}
#vote-aye, #vote-nay, #vote-abstention, #vote-absentee, #vote-skip, a.action {
	color: grey;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	margin: 2px 0;
	text-align: center;
	text-indent: 0;
	border-radius: 6px;
	background-color: #E0E0EB;
}
#vote-aye {
	font-size: 32px;
	width: 120px;
	padding: 16px 0;
	color: rgb(91, 183, 91);
}
#vote-aye:hover {
	color: white;
	background-color: rgb(91, 183, 91);
}
#vote-nay {
	font-size: 32px;
	width: 120px;
	padding: 16px 0;
	color: rgb(189, 54, 47);
}
#vote-nay:hover {
	color: white;
	background-color: rgb(189, 54, 47);
}
#vote-abstention {
	width: 244px;
	padding: 10px 0;
	font-size: 15pt;
	color: #f90;
}
#vote-abstention:hover {
	color: white;
	background-color: #f90;
}
#vote-absentee {
	width: 244px;
	padding: 10px 0;
	font-size: 15pt;
	color: #999;
}
#vote-absentee:hover {
	color: white;
	background-color: #999;
}
#vote-skip {
	width: 244px;
	padding: 10px 0;
	font-size: 10pt;
	color: #06f;
}
#vote-skip:hover {
	color: white;
	background-color: #06f;

}
em {
	color:grey ;
	font-style: bold;
}
.news {
	margin: 48px 192px;


}

a.nextpage:hover {
	color: white;
	background-color: black;
	display: center;
	margin: 0px auto;
}


#nextpage .button {
     
    color: red;
	background-color: white;
	margin: 0px auto;
     

}

#progress-bar {
	width: 100%;
	background-color: black;
	border-radius: 8px; /* (height of inner div) / 2 + padding */
	padding: 10px;
}
#progress-bar span {
	display: block;
	background-color: white;
	width: 0%; /* Adjust with JavaScript */
	height: 10px;
	border-radius: 5px;
}
#results table .shady {
	font-size: 20pt;
}
#results table {
	font-size: 20pt;
	width: 100%;
}
#results table td {
	padding: 4px;
}
#results table thead td {
	color: white;
	background-color:#FF0066 ;
	padding: 12px 8px;
}
#results table thead td:hover {
	background-color: black;
	cursor: pointer;
}
#results table tbody tr:nth-child(even) {
	background-color: rgba(0, 122, 255, 0.1);
}
#representatives {
	font-size: 20pt;
}
.legend {
	font-size: 30pt;
}
.tooltip {
	position: absolute;
	top: 0;
	left: 0;
	width: 320px;
	margin: 0;
	padding: 0 8px;
	font: 15pt sans-serif;
	background: rgba(255, 255, 255, 0.9);
	border: 0;
	pointer-events: none;
	cursor: pointer;
}
.tooltip ul {
	padding-left: 16px;
}
.chart-tooltip {
	position: absolute;
	top: 0;
	left: 0;
	width: 180px;
	height: 25px;
	padding: 4px;
	font: 8pt sans-serif;
	background: rgba(255, 255, 255, 0.7);
	border: 0;
	pointer-events: none;
	cursor: pointer;

}
select {
	padding: 4px;
	margin: 0;
	border: 1px solid #ccc;
	font: inherit;
	outline: none; /* remove focus ring from Webkit */
}
